https://www.kaggle.com/datasets/pablomgomez21/drugs-a-b-c-x-y-for-decision-trees

In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('drug200.csv')
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  drugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  drugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [21]:
female_true = df[df['Sex']=='F']

In [23]:
female_true_dict = dict(female_true['Drug'].value_counts())

In [26]:
list(female_true['Drug'].value_counts())

[47, 27, 9, 7, 6]

In [41]:
def gini_impurity(a):
  ratio_squared = sum((a/sum(a))**2)
  return 1- ratio_squared

In [44]:
gini_impurity(female_true['Drug'].value_counts().values)

0.6631944444444444

# Sanity check

In [9]:
A_A = (47/96)*(47/96)
A_B = (47/96)*(27/96)
A_C = (47/96)*(9/96)
A_X = (47/96)*(7/96)
A_Y = (47/96)*(6/96)

col_A = A_A+A_B+A_C+A_X+A_Y

In [10]:
B_A = (27/96)*(47/96)
B_B = (27/96)*(27/96)
B_C = (27/96)* (9/96)
B_X = (27/96)* (7/96)
B_Y = (27/96)* (6/96)

col_B = B_A+B_B+B_C+B_X+B_Y

In [11]:
C_A = (9/96)*(47/96)
C_B = (9/96)*(27/96)
C_C = (9/96)* (9/96)
C_X = (9/96)* (7/96)
C_Y = (9/96)* (6/96)

col_C = C_A+C_B+C_C+C_X+C_Y

In [12]:
X_A = (7/96)*(47/96)
X_B = (7/96)*(27/96)
X_C = (7/96)* (9/96)
X_X = (7/96)* (7/96)
X_Y = (7/96)* (6/96)

col_X = X_A+X_B+X_C+X_X+X_Y

In [14]:
Y_A = (6/96)*(47/96)
Y_B = (6/96)*(27/96)
Y_C = (6/96)* (9/96)
Y_X = (6/96)* (7/96)
Y_Y = (6/96)* (6/96)

col_Y =  Y_A+Y_B+Y_C+Y_X+Y_Y

In [15]:
col_A + col_B + col_C + col_X +col_Y

0.9999999999999999

In [16]:
1- (np.sum(A_A + B_B + C_C +X_X+ Y_Y ))

0.6631944444444444

In [17]:
a = np.array([47/96, 27/96 , 9/96 , 7/96 , 6/96])
1-np.sum(a**2)

0.6631944444444444

In [18]:
47 + 27 + 9 + 7+6

96